In [1]:
import pandas as pd
import numpy as np

In [2]:
# RENT PRICES DATABASE

In [3]:
df_rent=pd.read_csv("../datasets/2017_lloguer_preu_trim.csv")

In [4]:
df_rent_colnames= ["Year","Trimester","District Code","District","Neighborhood Code",
                   "Neighborhood","Average Rent", "Price"]
df_rent.columns=df_rent_colnames
df_rent["Average Rent"]=df_rent["Average Rent"].replace("Lloguer mitjà mensual (Euros/mes)","Euros per month")
df_rent["Average Rent"]=df_rent["Average Rent"].replace("Lloguer mitjà per superfície (Euros/m2 mes)","Euros/m2 per month")

In [5]:
df_rent=df_rent.groupby(["District","Neighborhood","Average Rent"],as_index=False).agg({"Price":"mean"})

In [6]:
df_rent = df_rent.groupby(["District","Neighborhood",'Average Rent'])['Price'].mean().unstack()

In [8]:
df_rent = df_rent.reset_index()

In [9]:
df_rent

Average Rent,index,District,Neighborhood,Euros per month,Euros/m2 per month
0,0,Ciutat Vella,"Sant Pere, Santa Caterina i la Ribera",916.8375,15.7050
1,1,Ciutat Vella,el Barri Gòtic,973.7675,14.1900
2,2,Ciutat Vella,el Raval,747.7150,13.8950
3,3,Ciutat Vella,la Barceloneta,746.3100,19.8450
4,4,Eixample,Sant Antoni,898.2600,12.9475
...,...,...,...,...,...
68,68,Sarrià-Sant Gervasi,Sant Gervasi - la Bonanova,1235.2425,15.3175
69,69,Sarrià-Sant Gervasi,Sarrià,1353.5350,17.4475
70,70,Sarrià-Sant Gervasi,"Vallvidrera, el Tibidabo i les Planes",1231.0100,16.6600
71,71,Sarrià-Sant Gervasi,el Putxet i el Farró,929.1200,14.8225
72,72,Sarrià-Sant Gervasi,les Tres Torres,1627.2025,16.8325

In [10]:
df_rent=df_rent.drop(["index",'Neighborhood', 'Euros per month'],axis=1)

In [11]:
df_rent

Average Rent             District  Euros/m2 per month
0                    Ciutat Vella             15.7050
1                    Ciutat Vella             14.1900
2                    Ciutat Vella             13.8950
3                    Ciutat Vella             19.8450
4                        Eixample             12.9475
..                            ...                 ...
68            Sarrià-Sant Gervasi             15.3175
69            Sarrià-Sant Gervasi             17.4475
70            Sarrià-Sant Gervasi             16.6600
71            Sarrià-Sant Gervasi             14.8225
72            Sarrià-Sant Gervasi             16.8325

[73 rows x 2 columns]

In [ ]:
# GENDER AND POPULATION DATABASE

In [ ]:
#importing csv
df_gender_colnames = ["Year", "District code", "District name", "Neighbourhood code", "Neighbourhood name", "Gender", "Number immigrants"]
df_gender = pd.read_csv("../datasets/2017_immigrants_sexe.csv", names=df_gender_colnames, header=0)

In [ ]:
#drop unnecessary columns
cols_to_drop = ["Year", "District code", "Neighbourhood code"]
df_gender2 = df_gender.drop(cols_to_drop, axis=1)
#df_gender
#deleting duplicate records
df_gender.drop_duplicates()

In [ ]:
#rename gender/ensure names are uniform
df_gender2["Gender"].value_counts()

In [ ]:
df_gender2["Gender"] = np.where((df_gender2["Gender"]=="Homes"), "Male", "Female")
df_gender2

In [ ]:
df_gender3 = pd.pivot_table(df_gender2, index="Neighbourhood name", columns="Gender", values="Number immigrants")

In [ ]:
df_gender_last = pd.merge(df_gender2[["District name", "Neighbourhood name"]], df_gender3, on="Neighbourhood name")

df_gender_last.rename(columns={"Female":"Female immigrants", "Male":"Male immigrants"})

In [ ]:
#importing csv
df_pop_colnames = ["Year", "District code", "District name", "Neighbourhood code", "Neighbourhood name", "Gender", "Age", "Number population"]
df_pop = pd.read_csv("../datasets/population.csv", names=df_pop_colnames, header=0)

#deleting duplicate records
df_pop.drop_duplicates()

In [ ]:
#drop columns
cols_to_drop = ["District code", "Neighbourhood code"]
df_pop2 = df_pop.drop(cols_to_drop, axis=1)

In [ ]:
#select records from 2017 only
df_pop2 = df_pop2[df_pop2["Year"]==2017]

In [ ]:
#aggregate numbers by neighbourhood and gender, discarding age
df_pop3 = df_pop2.groupby(["District name", "Neighbourhood name", "Gender"], as_index=False).agg({"Number population":"sum"})

In [ ]:
df_pop4 = pd.pivot_table(df_pop3, index=["District name","Neighbourhood name"], columns="Gender", values="Number population")

In [ ]:
df_pop_last = pd.merge(df_pop2[["District name", "Neighbourhood name"]], df_pop4, on="Neighbourhood name")
df_pop_last=df_pop_last.rename(columns={"Female":"Female total", "Male":"Male total"})
df_pop_last=df_pop_last.drop_duplicates()
df_pop_last

In [ ]:
df_total = pd.merge(df_gender_last, df_pop_last, on=["District name", "Neighbourhood name"])
df_total = df_total.drop_duplicates()
df_total

In [ ]:
# Immigrants by nationality

In [ ]:
immigrants = pd.read_csv("../datasets/immigrants_by_nationality.csv")

# Checking out the table
immigrants.head()

In [ ]:
# Check out the shape
immigrants.shape

# The data consists of 35k rows and 7 columns.

In [ ]:
# There are no missing values in the immigrants dataset.
null_immigrants = immigrants.isnull().sum()

print(null_immigrants)

In [ ]:
immigrants.dtypes

In [ ]:
immigrants_2 = immigrants[["Nationality"]]

immigrants_2.head()

In [ ]:
# Checking all the Nationalities of the file

nationality = immigrants["Nationality"].value_counts()

pd.set_option("display.max_rows", 200)
print(nationality)

In [ ]:
# Checking the districts in the file
immigrants["District Name"].value_counts()

In [ ]:
immigrants_2017 = immigrants.drop(["Year"], axis=1)
immigrants_2017